@media(max-width:900px){

.container{

width:95%;

}

}
button{
margin-bottom:15px;
}

label{
display:block;
margin-top:10px;
font-weight:bold;
}
.light{

background:#F5F5F5;

color:#111827;

}

.light .card{

background:white;

color:#111827;

}
#searchCoin{

width:100%;
padding:12px;
margin:20px 0;

border-radius:8px;

border:none;

font-size:16px;

}
